.swiper-button {
  background-color: $white;
  border-radius: 50%;
  z-index: 1;
  padding: 12px;
  position: absolute;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: .1s ease-in-out;
  cursor: pointer;
  box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.16);

  &:hover {
    background-color: rgba(255, 255, 255, 0.45);
  }

  &-next {
    right: 12px;
  }

  &-prev {
    left: 12px;
    transform: rotate(-180deg);
  }
  &-hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

.swiper-navigation-disabled {
  .swiper-button {
    display: none;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;

  &-bullet {
    display: block;
    width: 27px;
    height: 27px;
    margin: 8px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    transition: .1s ease-in-out;

    &:before {
      content: "";
      position: absolute;
      width: 11px;
      height: 11px;
      background-color: $gray-500;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      transition: .1s ease-in-out;
    }

    &:hover {
      border-color: $primary;
      &:before {
        background-color: $primary;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &-active {
      border-color: $primary;
      &:before {
        background-color: $primary;
      }
    }
  }
}
