.furniture {
  padding: 0;
  margin-bottom: 90px;
  overflow-x: hidden;

  h2 {
    color: $gray-100;
    text-align: center;
  }

  p {
    text-align: center;
    margin-bottom: 8px;
    color: $gray-200;
  }

  &__gallery {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 16px;

    @media (max-width: 1440px) {
      justify-content: center;
      grid-auto-flow: unset;
    }

    &__col {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 -8px;

      @media (max-width: 1440px) {
        justify-content: center;
      }

      @media (min-width: 700px) and (max-width: 1440px) {
        img {
          height: 100%;
        }
      }
      @media (max-width: 700px) {
        img {
          width: 450px;
        }
      }

      @media (max-width: 480px) {
        img {
          width: calc(100vw - 30px);
        }
      }

      &:first-child {
        justify-content: flex-end;

        @media (max-width: 1440px) {
          justify-content: center;
        }

        & > div {
          &:nth-child(1) {
            justify-content: end;
            align-items: end;
          }

          &:nth-child(2) {
            justify-content: end;
            align-items: start;
          }
        }
      }

      &:nth-child(2) {
        @media (min-width: 700px) and (max-width: 1440px) {
          display: none;
        }

        & > div {
          display: block;
        }
      }

      &:last-child {
        @media (max-width: 1440px) {
          flex-direction: column;
        }

        & > div {
          &:nth-child(1) {
            align-items: end;
          }

          &:nth-child(2) {
            align-items: start;
          }
        }
      }
    }

    &__item {
      display: inline-grid;
      padding: 0 8px;
      gap: 16px;
      grid-template-columns: auto;
      grid-auto-flow: column;

      @media (max-width: 700px) {
        grid-auto-flow: unset;
      }

      &:not(:last-child) {
        margin: 0 0 16px 0;
      }
    }

    &__img {
      object-fit: cover;
      max-width: unset;
    }
  }
}
